/*p.error{
    color: darkkhaki;
} 
p.success{
    color: plum;
}
p.success.feedback{
    border: 1px dashed plum;
}
#content{
    background-color: lavenderblush;
    padding: 30px;
}*/

/*div .error{
color: lightcoral;
}*/
/*a[href="https://www.thehoisingtongallery.com.ph"]{
    background-color: lightsalmon;
    color: linen;
    text-decoration: none;
    font-weight: bold;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

a[href*="thehoisingtongallery"]{
    background-color: lightsalmon;
    color: linen;
    text-decoration: none;
    font-weight: bold;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}*/
/*
div{
    color: magenta;
    border: 1px solid gold;
    margin: 40px;
    font-weight: bold;
}
div p{
    border: inherit;
    margin: inherit;
    color: lawngreen;
}
p{
    color: lightblue;
} */
.center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}


 

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: rgb(14, 131, 96);
  color: white;
}

   
  
    /* Center and scale the image nicely */
    .bacground{
    background-position: center;
    background-repeat: no repeat;
    background-size: cover;
}

/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: #5555556e;
    overflow: auto;
  }
/* The navigation menu */
.navbar {
    overflow: hidden;
    background-color: rgb(66, 235, 235);
  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    font-size: 16px;
    color: #0f0303;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The subnavigation menu */
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  /* Subnav button */
  .subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #070404;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Add a red background color to navigation links on hover */
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: #d9ff00b6;
  }
  
  /* Style the subnav content - positioned absolute */
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: red;
    width: 100%;
    z-index: 1;
  }
  
  /* Style the subnav links */
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
  /* Add a grey background color on hover */
  .subnav-content a:hover {
    background-color:blue;
    color:black;
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: block;
  }

  .center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
  }
/*
  body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
  }
  
  .bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 0.65;
    background-position: center;
    background-size: cover;
  
  }
  .bgimg-1 {
    background-image: url("https://unsplash.com/photos/N-K8Me-DKYU");
    min-height: 100%;
  }
  
  .bgimg-2 {
    background-image: url("img_parallax2.jpg");
    min-height: 400px;
  }
  
  .bgimg-3 {
    background-image: url("img_parallax3.jpg");
    min-height: 400px;
  }
  
  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }
  
  .caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }
  
  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }